# INPUT in Filter table (default=DROP)

-A INPUT -i lo -j ACCEPT
-A INPUT -i enp1s0 -s <localnet>/24 -j ACCEPT
-A INPUT -m state --state ESTABLISHED -j ACCEPT

# Only accept SSH/Mosh from local network or via VPN
-A INPUT ! -i <isp> -p tcp -m tcp --dport 22 -j ACCEPT
-A INPUT ! -i <isp> -p udp -m multiport --dports 60000:61000 -j ACCEPT

# Restrict/limit ping
-A INPUT -p icmp -m icmp --icmp-type 8/0 -m state --state NEW,RELATED -m limit --limit 50/sec -j ACCEPT
-A INPUT -p icmp -m icmp --icmp-type 3/4 -m limit --limit 50/sec -j ACCEPT
-A INPUT -p icmp -m icmp --icmp-type 11/0 -m limit --limit 50/sec -j ACCEPT
-A INPUT -p icmp -j DROP

# Rough general ruleset for hosts: add specific ports to accept – flood tracking per individual IP
-A INPUT -p tcp -m connlimit --connlimit-above 111 --connlimit-mask 32 --connlimit-saddr -j REJECT --reject-with tcp-reset
-A INPUT -p tcp -m tcp --tcp-flags RST RST -m limit --limit 2/sec --limit-burst 2 -j ACCEPT
-A INPUT -p tcp -m tcp --tcp-flags RST RST -j IN_LOGDROP
-A INPUT -p tcp -m conntrack --ctstate NEW -m limit --limit 60/sec --limit-burst 20 -j ACCEPT
-A INPUT -p tcp -m conntrack --ctstate NEW -j IN_LOGDROP

# EOF
