# mBLOCK is a "subroutine" target used from the Mangle table's PREROUTING rules.
# by arjen (at) lentz (dot) com (dot) au

# Ensure that the specific ipsets exist before referencing them in iptables!
# See update-ipsets.sh.example

# mBLOCK: RETURN = allow through

# An allow list for pingdom
-A mBLOCK -m set --match-set inet.pingdom.list src -j RETURN

# A rough allow list for Let’s Encrypt... note that DNS-01 verification is better
-A mBLOCK -d <webserver> -t tcp -m tcp --dport 80 -m set --match-set inet.letsencrypt.list src -j RETURN

# Friendly IPs. Like our own servers elsewhere
-A mBLOCK -s <friendlyip>/32 -j RETURN
-A mBLOCK -s <friendlynet>/24 -j RETURN

# Yep, geo blocking. We only allow traffic from these countries: reduce noise!
-A mBLOCK -m set --match-set inet.au.zone src -j RETURN
-A mBLOCK -m set --match-set inet.nl.zone src -j RETURN

# Invalid network ranges of any kind
-A mBLOCK -m set --match-set inet.fullbogons.list src -j DROP

# Swift byebye to everything else (log/sample if you want to)
-A mBLOCK -j DROP

# EOF
